/*Start Wizard*/

.bootstrapWizard {
    display: block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.after-wizard {
    display: block;
    padding-top: 30px;
    border-bottom: 1px solid #eee;
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 12.5%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 3px solid #55606E;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 1px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
    background: #8f9194;
    color: #fff;
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    padding: 7px 13px;
    border: 3px solid transparent;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard li .wizard-tab-done {
    background-color: #cccccc;
}

.bootstrapWizard li .wizard-tab-seen {
    background-color: #61a5ff;
}

.bootstrapWizard li .wizard-tab-seen:hover {
    background-color: #8dbeff;
    cursor: pointer;
}

.bootstrapWizard li .wizard-tab-seen.wizard-tab-done {
    background-color: #cccccc;
}

.bootstrapWizard li .wizard-tab-seen.wizard-tab-done:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #0B50AB;
    color: #fff;
    font-weight: 700;
    padding: 7px 13px;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid #55606E
}

.bootstrapWizard li.active .step:hover, .bootstrapWizard li.active.complete .step:hover {
    background: #357ddc;
    cursor: pointer;
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
}

.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 20px;
    line-height: 25px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
}

.tab-content.transparent {
    background-color: transparent
}

/*End Wizard*/