{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "AWS CloudFormation template to create IAM roles. (qs-1nlkhq1oj)",
    "Resources": {
        "AnalyticsAccess": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "kinesisanalytics.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "firehose:DescribeDeliveryStream",
                                        "firehose:PutRecord",
                                        "firehose:PutRecordBatch"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:firehose:*"
                                    ],
                                    "Sid": "WriteOutputFirehose"
                                },
                                {
                                    "Action": [
                                        "firehose:DescribeDeliveryStream",
                                        "firehose:Get*"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:firehose:*"
                                    ],
                                    "Sid": "ReadInputFirehose"
                                },
                                {
                                    "Action": [
                                        "s3:Get*",
                                        "s3:List*"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "/",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ],
                                    "Sid": "ReadS3ReferenceData"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "Access"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "CleanupResourcesRole": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": "kinesisanalytics:ListApplications",
                                    "Effect": "Allow",
                                    "Resource": "*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "ListKinesisAnalyticsApplications"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "kinesisanalytics:DescribeApplication",
                                        "kinesisanalytics:DeleteApplication"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:kinesisanalytics:",
                                                    {
                                                        "Ref": "AWS::Region"
                                                    },
                                                    ":",
                                                    {
                                                        "Ref": "AWS::AccountId"
                                                    },
                                                    ":application/clean-orders-app"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:kinesisanalytics:",
                                                    {
                                                        "Ref": "AWS::Region"
                                                    },
                                                    ":",
                                                    {
                                                        "Ref": "AWS::AccountId"
                                                    },
                                                    ":application/aggregate-orders-app"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "DeleteKinesisAnalyticsApplications"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:DeleteObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "PublishedDataARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "AthenaQueryResultsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "ListDeleteDataLakeAndAthenaBuckets"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "CopyDataRole": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:AbortMultipartUpload",
                                        "s3:GetBucketLocation",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:ListBucketMultipartUploads",
                                        "s3:PutObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "SumbissionsBucketAccess"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:s3:::",
                                                    {
                                                        "Ref": "DatasetS3BucketName"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "ListGetDatasetBucket"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "CopyLambdaDeploymentRole": {
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:DeleteObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "RegionalLambdaBucketARN"
                                                    },
                                                    "/*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "PutDeleteRegionalLambdaBucket"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:s3:::",
                                                    {
                                                        "Ref": "QSS3BucketName"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "ListGetQSSBucket"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "ElasticSearchLambdaIAMPolicy": {
            "Properties": {
                "PolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "es:DescribeElasticsearchDomain",
                                "es:DescribeElasticsearchDomains",
                                "es:DescribeElasticsearchDomainConfig",
                                "es:ESHttpPost",
                                "es:ESHttpPut",
                                "es:ESHttpGet"
                            ],
                            "Effect": "Allow",
                            "Resource": {
                                "Fn::Join": [
                                    "",
                                    [
                                        "arn:aws:es:",
                                        {
                                            "Ref": "AWS::Region"
                                        },
                                        ":",
                                        {
                                            "Ref": "AWS::AccountId"
                                        },
                                        ":domain/",
                                        "datalake-quickstart",
                                        "*"
                                    ]
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "PolicyName": "ElasticsearchLambdaPolicy",
                "Roles": [
                    {
                        "Ref": "ElasticsearchAccess"
                    },
                    {
                        "Ref": "RegisterKibanaDashboardRole"
                    },
                    {
                        "Ref": "LambdaRole"
                    }
                ]
            },
            "Type": "AWS::IAM::Policy"
        },
        "ElasticsearchAccess": {
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Condition": {
                                "StringEquals": {
                                    "sts:ExternalId": {
                                        "Ref": "AWS::AccountId"
                                    }
                                }
                            },
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "firehose.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                }
            },
            "Type": "AWS::IAM::Role"
        },
        "EmptyBucketsRole": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:DeleteObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "PublishedDataARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "ListDeleteDataLakeBuckets"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "InstanceProfile": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "Roles": [
                    {
                        "Ref": "InstanceRole"
                    }
                ]
            },
            "Type": "AWS::IAM::InstanceProfile"
        },
        "InstanceRole": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "ManagedPolicyArns": [
                    "arn:aws:iam::aws:policy/AmazonAthenaFullAccess"
                ],
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:GetBucketLocation"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "PublishedDataARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "AthenaQueryResultsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "Action": [
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": {
                                        "Fn::Join": [
                                            "",
                                            [
                                                "arn:aws:s3:::",
                                                {
                                                    "Ref": "QSS3BucketName"
                                                },
                                                "/*"
                                            ]
                                        ]
                                    }
                                },
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:GetBucketLocation"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": {
                                        "Fn::Join": [
                                            "",
                                            [
                                                "arn:aws:s3:::",
                                                {
                                                    "Ref": "QSS3BucketName"
                                                }
                                            ]
                                        ]
                                    }
                                },
                                {
                                    "Action": [
                                        "s3:ListBucket",
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:s3:::",
                                                    {
                                                        "Ref": "DatasetS3BucketName"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "S3Policy"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "firehose:PutRecordBatch"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "FirehosePolicy"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "kinesisanalytics:CreateApplication",
                                        "kinesisanalytics:StartApplication",
                                        "kinesisanalytics:DescribeApplication",
                                        "kinesisanalytics:ListApplications",
                                        "kinesisanalytics:AddApplicationReferenceDataSource"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "KinesisAnalyticsPolicy"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "iam:GetRole",
                                        "iam:PassRole"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:iam::*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "IAMPassRolePolicy"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "sns:Publish"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Ref": "SnsLearnMoreTopicArn"
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "PublishToSnsDataLakeTopic"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "glue:StartCrawler",
                                        "glue:GetCrawler",
                                        "glue:StartJobRun",
                                        "glue:GetJobRun"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "AWSGluePolicy"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "KinesisStreamBucketRole": {
            "Condition": "CreateKinesisStreamBucketRole",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Condition": {
                                "StringEquals": {
                                    "sts:ExternalId": {
                                        "Ref": "AWS::AccountId"
                                    }
                                }
                            },
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "firehose.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:AbortMultipartUpload",
                                        "s3:GetBucketLocation",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:ListBucketMultipartUploads",
                                        "s3:PutObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": {
                                        "Fn::Join": [
                                            "",
                                            [
                                                {
                                                    "Ref": "SubmissionsBucketARN"
                                                },
                                                "*"
                                            ]
                                        ]
                                    }
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "KinesisBucketAccess"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "LambdaRole": {
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "/*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "/*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "PublishedDataARN"
                                                    },
                                                    "/*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "GetObjectsDatalake"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "CuratedBucketAccess": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Condition": {
                                "StringEquals": {
                                    "sts:ExternalId": {
                                        "Ref": "AWS::AccountId"
                                    }
                                }
                            },
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "firehose.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:AbortMultipartUpload",
                                        "s3:GetBucketLocation",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:ListBucketMultipartUploads",
                                        "s3:PutObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Ref": "CuratedDatasetsARN"
                                        },
                                        {
                                            "Fn::Join": [
                                                "/",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "AllowS3Access"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "QSRedshiftRole": {
            "Condition": "CreateRedshiftRole",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "redshift.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "ManagedPolicyArns": [
                    "arn:aws:iam::aws:policy/AWSGlueConsoleFullAccess"
                ],
                "Path": "/",
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:GetBucketLocation"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "CuratedDatasetsARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        },
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    {
                                                        "Ref": "PublishedDataARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "S3Access"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "RegisterKibanaDashboardRole": {
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"
                            ],
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "lambda.amazonaws.com"
                                ]
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "logs:CreateLogGroup",
                                        "logs:CreateLogStream",
                                        "logs:PutLogEvents"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "arn:aws:logs:*:*:*"
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "LambdaLogging"
                    },
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Join": [
                                                "",
                                                [
                                                    "arn:aws:s3:::",
                                                    {
                                                        "Ref": "QSS3BucketName"
                                                    },
                                                    "/*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "GetQSS3Bucket"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "SubmissionsBucketAccess": {
            "Condition": "CreateDemoResources",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Condition": {
                                "StringEquals": {
                                    "sts:ExternalId": {
                                        "Ref": "AWS::AccountId"
                                    }
                                }
                            },
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "firehose.amazonaws.com"
                            }
                        }
                    ],
                    "Version": "2012-10-17"
                },
                "Policies": [
                    {
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:AbortMultipartUpload",
                                        "s3:GetBucketLocation",
                                        "s3:GetObject",
                                        "s3:ListBucket",
                                        "s3:ListBucketMultipartUploads",
                                        "s3:PutObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Ref": "SubmissionsBucketARN"
                                        },
                                        {
                                            "Fn::Join": [
                                                "/",
                                                [
                                                    {
                                                        "Ref": "SubmissionsBucketARN"
                                                    },
                                                    "*"
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "Version": "2012-10-17"
                        },
                        "PolicyName": "AllowS3Access"
                    }
                ]
            },
            "Type": "AWS::IAM::Role"
        },
        "AWSGlueCuratedDatasetsCrawlerRole": {
            "Type": "AWS::IAM::Role",
            "Condition": "CreateDemoResources",
            "Properties": {
                "Path": "/",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "glue.amazonaws.com"
                            }
                        }
                    ]
                },
                "Policies": [
                    {
                        "PolicyName": "AWSGlueCrawlerS3Access",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:GetObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Sub": "${CuratedDatasetsARN}*"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "ManagedPolicyArns": [
                    "arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole"
                ]
            }
        },
        "AWSGlueJobRole": {
            "Type": "AWS::IAM::Role",
            "Condition": "CreateDemoResources",
            "Properties": {
                "Path": "/",
                "AssumeRolePolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Action": "sts:AssumeRole",
                            "Effect": "Allow",
                            "Principal": {
                                "Service": "glue.amazonaws.com"
                            }
                        }
                    ]
                },
                "Policies": [
                    {
                        "PolicyName": "AWSGlueJobS3Access",
                        "PolicyDocument": {
                            "Version": "2012-10-17",
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:GetObject",
                                        "s3:DeleteObject"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        {
                                            "Fn::Sub": "${CuratedDatasetsARN}*"
                                        },
                                        {
                                            "Fn::Sub": "arn:aws:s3:::${QSS3BucketName}*"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "ManagedPolicyArns": [
                    "arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole"
                ]
            }
        }
    },
    "Conditions": {
        "CreateDemoResources": {
            "Fn::Equals": [
                {
                    "Ref": "CreateDemonstration"
                },
                "yes"
            ]
        },
        "CreateRedshiftRole": {
            "Fn::Or": [
                {
                    "Condition": "CreateDemoResources"
                },
                {
                    "Fn::Equals": [
                        {
                            "Ref": "EnableRedshift"
                        },
                        "yes"
                    ]
                }
            ]
        },
        "CreateKinesisStreamBucketRole": {
            "Fn::Equals": [
                {
                    "Ref": "CreateDemonstration"
                },
                "no"
            ]
        }
    },
    "Parameters": {
        "AthenaQueryResultsBucketARN": {
            "Description": "RegionalLambdaBucket bucket ARN",
            "Type": "String"
        },
        "CreateDemonstration": {
            "AllowedValues": [
                "yes",
                "no"
            ],
            "Default": "yes",
            "Description": "Set this parameter to no if you don’t want the Quick Start to deploy the data lake wizard and load sample data into the Amazon Redshift cluster and Kinesis streams. For more information about the wizard, see step 4. The following five parameters are used only if Create Demonstration is set to yes.",
            "Type": "String"
        },
        "DatasetS3BucketName": {
            "Description": "Dataset bucket name for the Quick Start dataset",
            "Type": "String"
        },
        "EnableRedshift": {
            "AllowedValues": [
                "yes",
                "no"
            ],
            "Default": "no",
            "Description": "Enable Redshift",
            "Type": "String"
        },
        "CuratedDatasetsARN": {
            "Description": "CuratedDatasets bucket ARN",
            "Type": "String"
        },
        "PublishedDataARN": {
            "Description": "PublishedData bucket ARN",
            "Type": "String"
        },
        "QSS3BucketName": {
            "Description": "Quick Start S3 bucket name",
            "Type": "String"
        },
        "RegionalLambdaBucketARN": {
            "Description": "RegionalLambdaBucket bucket ARN",
            "Type": "String"
        },
        "SnsLearnMoreTopicArn": {
            "Description": "SNS topic ARN for Data Lake learn more",
            "Type": "String"
        },
        "SubmissionsBucketARN": {
            "Description": "SubmissionsBucket bucket ARN",
            "Type": "String"
        }
    },
    "Outputs": {
        "EmptyBucketsRoleARN": {
            "Description": "ARN of EmptyBucketsRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "EmptyBucketsRole",
                    "Arn"
                ]
            }
        },
        "CopyDataRoleARN": {
            "Description": "ARN of CopyDataRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "CopyDataRole",
                    "Arn"
                ]
            }
        },
        "LambdaRoleARN": {
            "Description": "ARN of LambdaRole",
            "Value": {
                "Fn::GetAtt": [
                    "LambdaRole",
                    "Arn"
                ]
            }
        },
        "CopyLambdaDeploymentRoleARN": {
            "Description": "ARN of CopyLambdaDeploymentRole",
            "Value": {
                "Fn::GetAtt": [
                    "CopyLambdaDeploymentRole",
                    "Arn"
                ]
            }
        },
        "SubmissionsBucketAccessARN": {
            "Description": "ARN of SubmissionsBucketAccess",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "SubmissionsBucketAccess",
                    "Arn"
                ]
            }
        },
        "CuratedBucketAccessARN": {
            "Description": "ARN of CuratedBucketAccess",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "CuratedBucketAccess",
                    "Arn"
                ]
            }
        },
        "ElasticsearchAccessARN": {
            "Description": "ARN of ElasticsearchAccess",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "ElasticsearchAccess",
                    "Arn"
                ]
            }
        },
        "AnalyticsAccessARN": {
            "Description": "ARN of AnalyticsAccess",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "AnalyticsAccess",
                    "Arn"
                ]
            }
        },
        "QSRedshiftRoleARN": {
            "Description": "ARN of QSRedshiftRole",
            "Condition": "CreateRedshiftRole",
            "Value": {
                "Fn::GetAtt": [
                    "QSRedshiftRole",
                    "Arn"
                ]
            }
        },
        "InstanceProfileARN": {
            "Description": "ARN of InstanceProfile",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "InstanceProfile",
                    "Arn"
                ]
            }
        },
        "InstanceProfileName": {
            "Description": "Name of InstanceProfile",
            "Condition": "CreateDemoResources",
            "Value": {
                "Ref": "InstanceProfile"
            }
        },
        "InstanceRoleARN": {
            "Description": "ARN of InstanceRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "InstanceRole",
                    "Arn"
                ]
            }
        },
        "CleanupResourcesRoleARN": {
            "Description": "ARN of CleanupResourcesRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Fn::GetAtt": [
                    "CleanupResourcesRole",
                    "Arn"
                ]
            }
        },
        "RegisterKibanaDashboardRoleARN": {
            "Description": "ARN of RegisterKibanaDashboardRole",
            "Value": {
                "Fn::GetAtt": [
                    "RegisterKibanaDashboardRole",
                    "Arn"
                ]
            }
        },
        "KinesisStreamBucketRoleARN": {
            "Description": "ARN of KinesisStreamBucketRole",
            "Condition": "CreateKinesisStreamBucketRole",
            "Value": {
                "Fn::GetAtt": [
                    "KinesisStreamBucketRole",
                    "Arn"
                ]
            }
        },
        "AWSGlueCuratedDatasetsCrawlerRoleName": {
            "Description": "Name of AWSGlueCuratedDatasetsCrawlerRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Ref":  "AWSGlueCuratedDatasetsCrawlerRole"
            }
        },
        "AWSGlueJobRoleName": {
            "Description": "Name of AWSGlueJobRole",
            "Condition": "CreateDemoResources",
            "Value": {
                "Ref":  "AWSGlueJobRole"
            }
        }
    }
}